body {
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: end;
    align-items: center;
    font-family: sans-serif;
    overflow: hidden;
}
 
.display {
    position: relative;
    left: 400px;
    background-color: pink;
    padding: 30px 60px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, .3);
    color: black;
    font-size: 25px;
    overflow: hidden;
}